<h2 class ="text-center mt-4">About:</h1>
  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="shadow mb-5 bg-white rounded">
            <div class="card text-center">
            <div class="card-header">
          </div>
            <div class="card-body">
              <div class="card-text text-left">Hello, my name is Brandon Wittmann. I'm an aspiring developer. This is my first website with production and a working database.</div>
                <p class="card-text">Repository: <%= link_to "Github", 'https://github.com/BrWittmann/alpha-blog', target: '_blank' %></p>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

