<div class="container" id="home-container">
    <div class="well well-lg bg-light">
        <div class="jumbotron text-center text-white">
        <h1>Welcome to my blogging website!</h1>
        <p style="font-weight:bold;","font-size:18px;">Sign up or login to create articles</p> 
        <p style="font-weight:bold;","font-size:18px;">Otherwise you are free to read already existing articles!</p> 
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg", rule: "button" %>
        </div>
    </div>
</div>
