<div id="page-content">
    <div class="container" id="home-container">
        <div class="well well-lg bg-light">
            <div class="jumbotron text-center text-white">
            <h1>Welcome to my website!</h1>
            <p style="font-weight:bold;","font-size:18px;">It is a work in progress none of the links work in the nav bar yet</p> 
            <a class="btn btn-success btn-lg" href-"#" rule="button">Articles</a>
            </div>
        </div>

    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-secondary text-white">
    <div class="container text-center">
        <small>Copyright &copy; Br-Wittmann</small>
    </div>
</footer>