<div class="container" id="home-container">
    <div class="well well-lg bg-light">
        <div class="jumbotron text-center text-white">
        <h1>Welcome to my website!</h1>
        <p style="font-weight:bold;","font-size:18px;">It is a work in progress</p> 
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg", rule: "button" %>
        </div>
    </div>
</div>
